#page-m {
    /* background-image: url('../design/home.png'); */
    background: linear-gradient(45deg, #00346e, #00346e , #00346e);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.info-date {
    padding: 2px 10px 2px 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 100;
}

.say {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.say-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profiles-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 0px 10px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
    background-image: url('../3d/user-account.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-menu-m {
    background-color: #fff;
    height: 589px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100000;
    padding: 17px;
    margin-top: 60px;
    border-radius: 45px 45px 0px 0px;
}

.list-menu-m-vote {
    background-color: #fff;
    /* background-color: #003369; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100000;
    padding: 17px;
    margin-top: 15px;
    border-radius: 45px 45px 45px 45px;
    margin-bottom: 60px;
}

.lingkaran1{
	width: 200px;
	height: 200px;
	background: #003369;
	border-radius: 100%;
}

.mid {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 90px;
}

.icon-ok {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003369;
    padding: 10px;
    border-radius: 100%;
    width: 217px;
    height: 217px;
    margin-top: 20px;
}

.btn-ll {
    background: #000;
    padding: 13px;
    color: #fff;
    
    border-radius: 100%;
    width: 217px;
    height: 217px;
}

.btn-get {
    color: #fff;
    background: linear-gradient(45deg, #00346e, #00346e);
    border-color: #00346e;
    padding: 13px;
    border-radius: 35px;
}

.btn-get:hover {
    color: #fff;
    background: linear-gradient(45deg, #00346e, #00346e);
    border-color: #00346e;
    padding: 13px;
    border-radius: 35px;
}

div#page-v {
    background: #00346e;
    height: 230px;
    border-radius: 0px 0px 50px 50px;
}

.icon-ok-ok {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003369;
    padding: 10px;
    border-radius: 100%;
    width: 217px;
    height: 217px;
    margin-top: 76px;
    border: solid #fff;
}

/* Star */
.o-star {
    background: -webkit-linear-gradient(#cd8e32, #ffc107,#cd8e32, #ffc107,#ffc107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #3d20044a;
}

.btn-vote {
    color: #fff;
    background: linear-gradient(45deg, #f3e36b, #5b5f71);
    padding: 13px;
    border-radius: 35px;
    border-color: #00346e;
}

.btn-vote:hover {
    color: #fff;
    background: linear-gradient(45deg, #f3e36b, #5b5f71);
    padding: 13px;
    border-radius: 35px;
    border-color: #00346e;
}

.icon-ok-ok-ok {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003369;
    padding: 10px;
    border-radius: 100%;
    width: 217px;
    height: 217px;
    margin-top: 12px;
    border: solid #fff;
}

.land-1 {
    padding: 25px;
    /* background: linear-gradient(45deg, #00346e, #00346e); */
    background-image: url('../apps/dd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}
.land-11 {
    padding: 25px;
    background: linear-gradient(45deg, #08c792, #08c792);
    /* background-image: url('../apps/dd.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}

.land-2 {
    padding: 25px;
    /* background: linear-gradient(45deg, #ffeb3b, #00bcd4); */
    background-image: url('../apps/dd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}
.land-3 {
    padding: 25px;
    /* background: linear-gradient(45deg, #607d8b, #ff9800); */
    background-image: url('../apps/dd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}
.land-4 {
    padding: 25px;
    /* background: linear-gradient(45deg, #9c27b0, #ffc107); */
    background-image: url('../apps/dd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}
.land-5 {
    padding: 25px;
    /* background: linear-gradient(45deg, #2196f3, #009688); */
    background-image: url('../apps/dd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}
.land-6 {
    padding: 25px;
    /* background: linear-gradient(45deg, #3f51b5, #03a9f4); */
    background-image: url('../apps/dd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}
.land-7 {
    padding: 25px;
    /* background: linear-gradient(45deg, #2196f3, #9c27b0); */
    background-image: url('../apps/dd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}
.land-8 {
    padding: 25px;
    /* background: linear-gradient(45deg, #8bc34a, #607d8b); */
    background-image: url('../apps/dd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}
.land-9 {
    padding: 25px;
    /* background: linear-gradient(45deg, #8a6d3b, #4caf50); */
    background-image: url('../apps/dd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
}

.header-profiles-talent {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #003369;
    padding: 0px 10px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-bottom: 0px;
}

.icon-awards {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #00346f, #19487c);
    padding: 10px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-top: 12px;
    border: solid #fff;
}

div#page-v-web {
    background: #00346e;
    height: 110px;
    border-radius: 0px 0px 50px 50px;
}

.icon-ok-ok-web {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003369;
    padding: 10px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-top: 24px;
    border: solid #fff;
}

.lingkaran111 {
    width: 45px;
    height: 45px;
    background: #ffffff;
    border-radius: 100%;
    margin-left: -45px;
    border: solid #366a97;
}

.land-1-s {
    padding: 25px;
    /* background: linear-gradient(45deg, #00346e, #00346e); */
    background-image: url(../apps/dd.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 10px;
}

.header-profiles-home-index {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    /* padding: 0px 10px; */
    border-radius: 100%;
    width: 45px;
    height: 45px;
    /* margin-bottom: 10px; */
    background-image: url(../3d/user-account.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-ok-ok-vv {
    display: flex;
        justify-content: center;
        align-items: center;
        background: #003369;
        padding: 5px;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        margin-top: 76px;
        border: solid #fff;
}