#page-m {
    /* background-image: url('../design/home.png'); */
    background: linear-gradient(45deg, #00346e, #00346e , #00346e);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.info-date {
    padding: 2px 10px 2px 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 100;
}

.say {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.say-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profiles-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 0px 10px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
    background-image: url('../3d/user-account.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-menu-m {
    background-color: #fff;
    height: 589px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100000;
    padding: 17px;
    margin-top: 150px;
    border-radius: 45px 45px 0px 0px;
}